:root {
    --navyblue:#01214c;
    --blue:#264582;
    --lightblue:#dae6ec;
    --grey:#66707f;
}


#newreleases-module img {
}

h2 {
color: #01214c;
font-weight: 800;
}

.p {
  text-align: justify;
  text-justify: inter-word;}

[class^="row"] [class^="col"] { background-color: rgba(0, 0, 0, 0.1); }}  /*just for testing; remove*/
