:root {
    --navyblue:#01214c;
    --blue:#264582;
    --lightblue:#dae6ec;
    --grey:#66707f;
}

/*navigation*/

nav {
background-color: #dae6ec
}

#nav a {
color: #264582
}

#navbarDropdown > img {
border-radius: 50%
}

#newreleases-module > img {
width:80%
height:auto
}

#secondaryreview-img > img {
width:70%;
height:auto
}

/*text formatting*/

h2 {
color: #01214c;
font-weight: bolder;
font-size: 3rem;
}

h3 {
color: #01214c;
font-weight: bolder;
font-style: italic;
font-size: 2rem;
line-height: 1;
margin-bottom: 0;
}

#newrelease-info > h3 {
font-size: 1.7rem;
line-height: 1.1;
}

.artist-name {
font-weight: bold;
color: #66707f;
font-size: 1.5rem;
text-align: justify;
text-justify: inter-word;
line-height: 1;
}

#newrelease-info > .artist-name {
font-size: 1.1rem;
line-height: 0;
}

.release-date {
color: #66707f;
text-align: justify;
text-justify: inter-word;
line-height: 1;
}

p {
  margin-top:.3rem;
  text-align: justify;
  text-justify: inter-word;}

/*[class^="row"] [class^="col"] { background-color: rgba(0, 0, 0, 0.06); }}  just for testing; remove*/
